@charset "UTF-8";
body {
	margin: 50px;
	font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:360;
  font-style: normal;
 	background-color: #E5DED1;
}
h1, h2, h4 {
	font-family: "IM Fell DW Pica SC", serif;
  font-weight: 400;
  font-style: normal;
			color:saddlebrown;
text-align:center;			
}
.scale{
	padding-right: 0px;
}
.Licensing{
	padding-right: 0px;

}
h3 {
	color: #D96725;
}

img {
	float: right;
}

#toneImage{
	padding-left: 30px;
}

#typographyimage{
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

	

a {
	color: saddlebrown;
	text-decoration: none;
	font-weight: bold;

}
a:hover {
	color:black;
	
}


footer {
	color:black;
}
		
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
	background-color:#879675;
	color: #A86717;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;

}

.button a:hover {
	background-color:#879675;
	color: #D96725;
}
.center {
	display: flex;
	judtify-content: center;
	align-items: center;
}
.right-align {
	float:right;
	margin-left:20px;
	
}
center-text {
	text-align: center;
	margin-right: 20px;
	


}
